* {
    margin: 0;
}
.portfolio-page {
    display: grid;
    grid-template: auto 1fr auto / 100vw;
    grid-template-areas: 
    "header"
    "body"
    "footer";

&__header {
    grid-area: header;
    grid-row: 1 / 2;
    width: 100%;
    position: fixed;    
    background: #3c3838;
    z-index: 1;
    .menu {    
        display: flex;
        justify-content: flex-end;
        background: rgb(168, 141, 141);
        padding: 10px 0;
        &__link {
            color: #3c3838;
            font-size: 30px;
            text-decoration: none;
            margin: 0 25px;
            border: 1px solid black;
            padding: 5px;
            border-radius: 10px;
            &:hover {
                 background: blanchedalmond;
            }
        }
    }
}

&__body {
    grid-area: body;
    display: grid;
    grid-row: 2 / 3;
    grid-template: 100vh auto auto / 100vw;
    grid-template-areas: 
        "home"
        "about"
        "projects";
    .home {
        grid-area: home;
        grid-row: 1 / 2;
        display: flex;    
        background: url("../image/home_page.png") no-repeat center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        &__title {
            font-size: 60px;
            color: #e0d0d0;
            margin: 10% 5%;
            align-self: flex-end;
        }
    }    
    .about {
        grid-area: about;
        grid-row: 2 / 3;
        background-color: #817d7d;
        display: grid;
        padding: 2%;        
        grid-template: auto auto auto / 30% 1fr;        
        &__avatar {            
            grid-column: 1 / 2;
            grid-row: span 2;
            display: grid;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;                            
            }                        
        }        
        &__biography {
            grid-column: 2 / 3;
            .biography__text {
                border: solid 1px grey;
                background: rgb(182, 178, 178);
                border-radius: 10px;
                font-size: 18px;
                padding: 20px;
                width: 70%;
            }                       
        }
        &__contacts {
            grid-column: 2 / 3;
            padding: 2%;
            .contacts-list {
                list-style: inside;
                font-size: 18px;
            }
            .contacts__link {
                color: black;                
            }
        }
        &__skills {
            grid-column: 2 / 3;
            font-size: 25px;            
        }
    }
    .projects {
        grid-area: projects;
        grid-row: 3 / 4;
        text-align: center;
        font-size: 20px;
        background: #817d7d;
        padding: 20px 0;
        &__title {
            background: cornflowerblue;
            padding: 10px 0;
        }
        &__link {
            text-decoration: none;
            color: black;            
        }
        .project {
            display: flex;
            border: 1px black solid;
            border-radius: 10px;
            padding: 10px;    
            background: rgb(155, 143, 126);
            width: 800px;
            margin: 15px 50px 0;
            &__image {
                width: 35%;
            }
            &__description {
                padding: 15px;
            }
        }
    }            
}
&__footer {
    grid-area: footer;
    grid-row: 3 / 4;
    background: #3c3838;
    text-align: center;
    padding: 30px;
    .footer__paragraph {
        color: cornsilk;
        margin-left: 15px;
        font-size: 25px;
    }
}
}



